[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
torch = "*"
torchvision = "*"
opencv-python = "*"
opencv-python-headless = "*"
scikit-learn = "*"
pillow = "*"
tqdm = "*"
pyautogui = "*"
websockets = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
