[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
torch = "*"
torchvision = "*"
opencv-python = "*"
opencv-python-headless = "*"
scikit-learn = "*"
pillow = "*"
tqdm = "*"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.11"
