# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
valorant_observer_dashboard/**/doc/api/
valorant_observer_dashboard/**/ios/Flutter/.last_build_id
valorant_observer_dashboard/.dart_tool/
valorant_observer_dashboard/.flutter-plugins
valorant_observer_dashboard/.flutter-plugins-dependencies
valorant_observer_dashboard/.packages
valorant_observer_dashboard/.pub-cache/
valorant_observer_dashboard/.pub/
valorant_observer_dashboard/build/

# Web related
valorant_observer_dashboard/lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
valorant_observer_dashboard/android/app/debug
valorant_observer_dashboard/android/app/profile
valorant_observer_dashboard/android/app/release


# python server app
valorant_observer_server/build/
valorant_observer_server/dist/
valorant_observer_server/*.png
valorant_observer_server/Agents/*.png